@font-face {
  font-family: 'Custom'; 
  src: url('../fonts/SuperGiggle.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root {
  --primary-500: #483574;
  --primary-600: #2c1d4a;
  --primary-700: #140E27;
  --neutral-white: #f3f3f3;
  --neutral-black: #0F0B1E;
  --primary-alpha:rgba(112, 41, 166, 0.604);
  --primary-shadow:rgba(7, 1, 12, 0.534);

  --main-font: "Jockey One", sans-serif;
  --heading-font: 'Custom', sans-serif;
};

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--main-font);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-500);
  background-image: url(../img/backgroundBehind.jpg);
  background-size: cover;
  height: 100vh;
}

.subContainer {
  color: var(--neutral-white);
  padding-left: 24px;
}

h1{
  font-family: var(--heading-font);
  font-size: 64px;
  color: var(--secondary-color);
  text-shadow: var(--neutral-white) 5px  5px;
  margin-top: 64px;
}

#splash-screen {

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 64px;
}

#splashScreenImg {
  width: 600px;
  border-radius: 5px;
  padding-bottom: 64px;
}

button {
  background-color: var(--primary-700);
  width: 200px;
  height: 40px;
  border: none;
  padding: 0;
  color: var(--neutral-white);
  border-radius: 5px;
  margin: 4px;
  font-family: var(--main-font);
}
button:hover {
  cursor: pointer;
  background-color: var(--primary-600);
  color: var(--neutral-white);
  border-radius: 5px;
  transition: 0.5s;

}

#game-screen {
  display: flex;
  flex-direction: row;
}

.menuContainerLeft{
  background-color: var(--primary-alpha);
  height: 800px;
  margin-right: 50px;
  margin-top: -128px;
  border: 10px, solid, var(--primary-shadow);
  border-radius: 10px;
  box-shadow: 5px 3px 3px var(--primary-shadow);;
  padding-bottom: 32px;
} 
.menuContainerRight{
  background-color: rgba(112, 41, 166, 0.604);
  height: 800px;
  margin-left: 50px;
  margin-top: -128px;
  border: 10px, solid, var(--primary-shadow);
  border-radius: 10px;
  box-shadow: 5px 3px 3px var(--primary-shadow);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 32px;
}

#topMenu {
  width: 400px;
}

#bottomMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

#game-box {
  width: 700px;
  height:100%;
  
  background-repeat: repeat-y; 
  background-size: 100% 100%; 
  background-position: 0 0; 

  position: relative; 
  overflow: hidden; 
  user-select: none;
  border-left: var(--primary-500);
}

#game-box * {
  pointer-events: none; 
}

#game-screen, #game-over-screen, #game-win-screen {
  display:none; 
}

#sadHamster {
  width: 256px;
  padding: 24px;
}

